.typeElement{
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px 2px 4px;
    margin-bottom: 10px;
    box-shadow: 0.1px -1px 5px 1px rgba(199, 198, 198, 0.993);
    
}